.icon {
    background-repeat: no-repeat;
    padding-left: 16px;
    padding-right: 0px;
    background-position: center;
}

.icon.icon-pad {
    background-position: 2px center;
    padding-left: 19px;
    padding-right: 6px;
}

.icon.directory {
    background-image: url('~@/assets/icons/folder.png');
}

.icon.directory-open {
    background-image: url('~@/assets/icons/folder_open.png');
}

.icon.file {
    background-image: url('~@/assets/icons/file.png');
}

.icon.refresh {
    background-image: url('~@/assets/icons/refresh.png');
}

.icon.host {
    background-image: url('~@/assets/icons/host.png');
}
