
@import 'fonts';
@import 'variables';
@import 'icons';

@import '~bootstrap/scss/bootstrap';

body, html {
    height: 100%;
    min-width: 800px;
    min-height: 500px;
}

.ace_autocomplete, .ace_autocomplete .ace_line, .ace_autocomplete .ace_content {
    background-color: #212529;
    color: var(--light);
}

.ace_autocomplete .ace_rightAlignedText {
    color: #b4bfca;
    font-style: italic;
    z-index: 0;
}

.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
    background-color: var(--info);
}

.ace_completion-highlight {
    color: var(--light) !important;
    font-weight: bold;
}

.ace_autocomplete .ace_line-hover {
    border-color: var(--info) !important;
    background-color: #007bff88 !important;
}

.ace_autocomplete .ace_selected {
    background-color: #2c3034;
}

.btn {
    text-overflow: ellipsis;
    overflow: hidden;
}

.monospace {
    font-family: 'Monospace', monospace !important;
}

.nav-link {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.flex-fit {
    height: 1px;
}

.form-control-sm {
    height: calc(1.68125rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.7875rem;
    line-height: 1.5 !important;
    border-radius: 0.2rem;
}

.scrollable {
    overflow-y: auto;
}

.fit-parent, .fit-parent .tab-content {
    height: 100%;
    overflow: hidden;
}

.table-fixed {
    table-layout: fixed;
}

.table-fit {
    width: 40px;
}

.table-container td {
    font-size: 12px;
}

.table-container table {
    margin: 0;
}

.table-container .table th {
    position: sticky;
    top: 0;
    border: 0;
    z-index: 2;
}

.table-container .table-header th:after, .table-container .table-header th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

.table-container .table-header th:before {
    top: 0;
    border-top: 1px solid #32383e;
}

.table-container .table-header th:after {
    top: 100%;
    border-bottom: 1px solid #32383e;
}

.bottom-separator {
    border-bottom: 1px solid #444;
}

.bg-dark {
    color: #fff;
}

.bg-dark textarea:focus {
    color: #fff;
}

.bg-dark .nav-tabs .nav-link, .bg-dark .nav-tabs .nav-link {
    color: #ddd;
}

.bg-dark .nav-tabs .nav-link:hover, .bg-dark .nav-tabs .nav-link:focus {
    border-color: #878787;
    color: #fff;
}

.bg-dark .nav-tabs .nav-link.active, .bg-dark .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: var(--dark);
    border-color: #878787 #878787 var(--dark);
}

.bg-dark .nav-tabs .nav-link.disabled {
    color: #7d7d7d;
    background-color: #0000004d;
    border-bottom-color: #878787;
}

.bg-dark .nav-tabs {
    border-bottom: 1px solid #878787;
}

.bg-dark .list-group-item {
    color: #9f9f9f;
    background-color: var(--dark);
}

.list-group-item .close {
    color: #fff;
    z-index: 1;
}

.list-group-item.active > span {
    color: #fff;
    z-index: 1;
}

.list-group-item:hover > * {
    cursor: pointer;
    color: #fff;
}

.list-group-item .icon.directory, .list-group-item .icon.file {
    opacity: 0.7;
}

.list-group-item:hover > span > .icon.directory, .list-group-item:hover > span > .icon.file, .list-group-item.active > span > .icon.file {
    opacity: 1;
}

.selected-indicator {
    display: block;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #3e444a;
    border-left: 3px solid var(--info);
}

.list-group-item.active .selected-indicator {
    opacity: 1;
}

.list-group-item {
    border-radius: 0 !important;
    border: none;
    padding: 0;
    user-select: none;
}

.list-group-item > .list-group {
    padding-left: 0.5rem;
}

.list-group-item > .close {
    display: none;
}

.list-group-item:hover > .close {
    display: inline-block;
}

.alert-dismissible .close {
    padding: 0 0.25rem !important;
}

.marker-error {
    position: absolute;
    border-bottom: 2px solid var(--danger);
    z-index: 2;
    opacity: 0.85;
    border-radius: 0px;
}

.marker-warning {
    position: absolute;
    border-bottom: 2px solid var(--warning);
    z-index: 2;
    opacity: 0.85;
    border-radius: 0px;
}

.gutter {
    background-color: #444;
}

.gutter-horizontal:hover {
    cursor: col-resize;
}

.gutter-vertical:hover {
    cursor: row-resize;
}

.modal-body {
    word-wrap: break-word;
}

.file {
    min-width: 100px;
}
